@using TaskManagmentApp.DAL.ViewModels.Assignment
@model List<AssignmentViewModel>
<div class="container-fluid p-0">
    <h2 class="ps-2"> List of assignments</h2>
    @if (User.IsInRole("Admin"))
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="ps-2 nav-item">
                        <a class="btn btn-primary" asp-controller="assignment" asp-action="create">Add New Assignment</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>DueDate</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in @Model)
            {
                <tr>
                    <td>@assignment.Id</td>
                    <td>@assignment.Title</td>
                    <td><div class="description">@assignment.Description</div></td>
                    <td>@assignment.CreatedAt</td>
                    <td>@assignment.DueDate</td>
                    <td>@assignment.Status</td>
                    @if (@User.IsInRole("Admin"))
                    {
                        <td>
                            @if (assignment.Status == 0)
                            {
                                <a asp-action="complete" asp-controller="assignment" asp-route-id="@assignment.Id" class="btn btn-success btn-sm">Complete</a>
                            }
                            <a asp-action="edit" asp-controller="assignment" asp-route-id="@assignment.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="delete" asp-controller="assignment" asp-route-id="@assignment.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    }
                    else if (@User.IsInRole("Employee"))
                    {
                        <td>
                            @if (assignment.Status == 0)
                            {
                                <a asp-action="complete" asp-controller="assignment" asp-route-id="@assignment.Id" class="btn btn-success btn-sm">Complete</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>